<div class="text-center">

    <h1 class="text-info">Подтверждение запроса</h1>
@*    <p>We have recieved your inquriry and someone from our team will contact you shortly!</p>*@
    <p>Мы получили ваш запрос, и кто-нибудь из нашей команды свяжется с вами в ближайшее время!</p>
    <img src="/image/patio.jpg" class="w-80" />
</div>

